<div class="govuk-header__content">
  <button type="button" role="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation" aria-expanded="false">Menu</button>
  <nav>
    <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
      <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="https://selfservice.payments.service.gov.uk/login">
          Fy nghyfrif
        </a>
      </li>
      <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="">
          Arwyddo allan
        </a>
      </li>
      <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="">
          English
        </a>
      </li>
    </ul>
  </nav>
</div>
