{% extends "layout.html" %}

{% block pageTitle %}
  Someone else has already chosen this company name
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Someone else has already chosen this company name</h1>

      <form class="form" action="upload-evidence" method="get">

        {{ govukTable({
  firstCellIsHeader: false,

  rows: [
    [
      {
        text: "You wanted"
      },
      {
        text: "MA LIMITED"
      }
    ],
    [
      {
        text: "Someone else has registered"
      },
      {
        html: "MA & CO LIMITED<br>MA (UK) LTD"
      }
    ]
  ]
}) }}

{{ govukDetails({
  summaryText: "Why are these names considered to be the same?",
  html: "<p>In line with the law, we remove spaces, certain punctuation, characters, words and letters from existing company names and the company name you want. Then we compare the names.</p>"
}) }}
<br>
<h2 class="govuk-heading-m">What you need to do</h2>
  <p class="govuk-body">You will have to try a different name if you are not part of the same group of companies (as either a subsidiary or parent company). Or, if the name you want is identical to the one already registered.</p>



{{ govukDetails({
  summaryText: "What is a subsidiary and parent company?",
  html: "<p>A subsidiary is a company that is either owned or partly owned by another company. The company that owns the subsidiary is known as a parent company.</p>"
}) }}
        <p class="govuk-body">You can only use this name if:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the company you are setting up will be part of a group of companies that includes MA & CO LIMITED and MA (UK) LTD</li>
          <li>you can upload evidence of permission from these companies to confirm this company will be part of this group, and is allowed to use the name MA LIMITED</li>
          <li>it is not identical to any of the names shown</li>
        </ul>
    <p class="govuk-body">If <strong>all</strong> these statements are true, you can use this name.</p>
    <br>
    <br>
        {{ govukRadios({
  idPrefix: "want-to-do",
  name: "want-to-do",
  fieldset: {
    legend: {
      text: "Will MA LIMITED be part of the group of companies that includes all the companies listed?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "no",
      text: "No, I will try a different name"
    },
    {
      value: "yes",
      text: "Yes"
    }
  ]
}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
