{% extends "layout.html" %}

{% block pageTitle %}
  Someone has already chosen this company name
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Someone has already chosen this company name</h1>

      <form class="form" action="upload-evidence" method="get">

        {{ govukInsetText({
          text: "You will have to try a different name if you are not part of the same group of companies, or if the name you want is identical to one already registered."
        }) }}

        {{ govukTable({
  firstCellIsHeader: false,

  rows: [
    [
      {
        text: "You wanted"
      },
      {
        text: "MA LIMITED"
      }
    ],
    [
      {
        text: "Someone else has registered"
      },
      {
        html: "MA & CO LIMITED<br>MA (UK) LTD"
      }
    ]
  ]
}) }}{{ govukDetails({
  summaryText: "Why are these names considered to be the same?",
  html: "<p>In line with the law, we remove spaces, certain punctuation, characters, words and letters from the company name you want.</p> <p>Then, it is compared with existing company names.</p>"
}) }}

        <h2 class="govuk-heading-s">You can only use this name if:</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>the company you are setting up will be a parent or subsidary company as part of the same group as with MA & CO LIMITED and MA (UK) LTD</li>
          <li>you can upload evidence from these companies to confirm you will be part of the same group and are allowed to use the name MA LIMITED</li>
          <li>it is not identical to any of the names shown</li>
        </ul>

        {{ govukRadios({
  idPrefix: "want-to-do",
  name: "want-to-do",
  fieldset: {
    legend: {
      text: "Will MA LIMITED be a part of the group of compainies listed?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "no",
      text: "No, I will try a different name"
    },
    {
      value: "yes",
      text: "Yes, I will upload evidence from these companies
      to confirm I have permission"
    }
  ]
}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}