{% extends "layout.html" %}

{% block pageTitle %}
  Someone has already registered this company name
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Someone has already registered this company name
      </h1>

      {{ govukDetails({
        summaryText: "Why are these names considered to be the same?",
        html: "<p>In line with the law, we remove spaces, certain punctuation, characters, words and letters from the company name you want.</p> <p>Then, it is compared with existing company names.</p>"
      }) }}

      <form class="form" action="upload-evidence" method="get">

        {{ govukTable({
  firstCellIsHeader: false,

  rows: [
    [
      {
        text: "You wanted"
      },
      {
        text: "MA LIMITED"
      }
    ],
    [
      {
        text: "Someone else has registered"
      },
      {
        html: "MA & CO LIMITED<br>MA (UK) LTD"
      }
    ]
  ]
}) }}

        {{ govukRadios({
  idPrefix: "want-to-do",
  name: "want-to-do",
  fieldset: {
    legend: {
      text: "Are you in a group (parent/subsidiary) relationship with all of the companies listed?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
    },
        items: [
        {
        value: "yes",
        text: "Yes",
        conditional: {
        html: "<p>
       You must upload permission from these companies that you are allowed to use the name MA LIMITED, you can do this on the next page.</p>
        <p>If the name you want is identical to the one that someone else has registered, you will have to try a different name.</p>
        "
        }
        },
        {
        value: "no",
        text: "No",
        conditional: {
        html: "  <span id='new-name-hint' class='govuk-hint'>
    <p>You cannot use MA LIMITED.</p><p>You will need to choose a different company name. You can do this on the next page.
  </span>"
      }
        }
        ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}