{% extends "layout.html" %}

{% block pageTitle %}
  Upload evidence that you can use MA LIMITED
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Upload evidence that you can use MA LIMITED</h1>
      <h2 class="govuk-heading-m">What evidence do I need?</h2>

      <p class="govuk-body">You will need a letter from:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>MA & CO LIMITED</li>
        <li>MA (UK) LTD</li>
      </ul>
      <p>Each letter must say that you are allowed to use the name MA LIMITED and that MA LIMITED will be either a parent or subsidiary of the company.
      </p>

      {{ govukInsetText({
  text: "You can only upload one PDF. You will need to save all the letters on one PDF document."
}) }}
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p>The evidence you provide will be reviewed as part of this application within 1-2 working days.</p>
      <p>The evidence you give us will not appear on the public record.</p>
      <form class="form" action="company-name" method="get">

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Upload one PDF"
          }
        }) }}
        <p>
          <a href="company-name">I want to try a different name instead</a>
        </p>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}