{% extends "layout.html" %}

{% block pageTitle %}
  Is Sarah Philips a shareholder?
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Is Sarah Philips a shareholder?</h1>

      <form class="form" action="add-another-shareholder" method="get">

        {{ govukDetails({
          summaryText: "What is a shareholder?",
          text: "Shareholders  own one or more shares in the company. They get a share of the company profits through dividends. They  also have a say in important company issues, like appointing new directors."
        }) }}

        {{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "shareholders",
  name: "shareholders",
  fieldset: {
    legend: {
      text: " ",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}