{% extends "chs-layout.html" %}
{% block pageTitle %}
  Search the Companies House register
{% endblock %}

{% block beforeContent %}
  <div class="govuk-body" id="disclaimer" style="
    padding-top: 10px;">
    <a href="https://resources.companieshouse.gov.uk/serviceInformation.shtml#compInfo">Companies House does not verify the accuracy of the information filed</a>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="chs-search">
        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
          <p class="govuk-notification-banner__heading">
            This service is experiencing some issues at the moment.
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html
        }) }}
        <form action="" method="get">

          <div class="govuk-form-group">
            <label class="govuk-label chs-search__label govuk-label--xl" for="bill">
              Search the Companies House register
            </label>

            <div id="bill-hint" class="govuk-hint chs-search__hint ">
              Enter a company name, company number or officer name.
            </div>

            <input class="govuk-input chs-search__input " id="bill" name="bill" type="search" aria-describedby="bill-hint">
          </div>

          <button class="govuk-button chs-search__button " data-module="govuk-button">
            Search
          </button>

        </form>
        <br>
        <p><a href="#" class="govuk-link">Advanced search</a><p></p>
      </div>

      <h2 class="govuk-heading-m">Service features</h2>
      <p class="govuk-body">When you search for a company or officer, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://find-and-update.company-information.service.gov.uk/accounts/guidance">file abridged or full accounts</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/news/follow-companies-for-free">follow a company</a>
        </li>
        <li>change a registered office address</li>
        <li>view company data and document images</li>
        <li>order certificates and certified documents</li>

      </ul>
      <h2 class="govuk-heading-m">Useful tools</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://ewf.companieshouse.gov.uk//seclogin?tc=1">WebFiling - File company information online</a>
        </li>
        <li>
          <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/company-name-availability">Check if a company name is available</a>
        </li>
        <li>
          <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/alphabetical-search">Search for a company alphabetically</a>
        </li>
        <a href="https://find-and-update.company-information.service.gov.uk/search/disqualified-officers">Search for disqualified directors</a>

      </ul>

      <h2 class="govuk-heading-m">For information</h2>
      <p class="govuk-body">The
        <a class="govuk-link" href="https://www.gov.uk/government/news/automatic-filing-extensions-granted-by-the-corporate-insolvency-and-governance-act-due-to-come-to-an-end">automatic filing extensions</a> granted by the Corporate Insolvency and Governance Act has ended for filing deadlines that occur after 5 April 2021. Eligible companies can still <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/extensions">apply to extend the accounts filing deadline</a> if their deadline is after 5 April.</p>
    </div>
  </div>

{% endblock %}
