{% extends "layout.html" %}

{% block pageTitle %}
  Which email address does Sarah Philips want to use to receive filing reminders?
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Which email address does Sarah Philips want to use to receive filing reminders?</h1>
      <form class="form" action="check-and-confirm" method="get">
        <p>We'll send an email to this address, so you can agree to the terms and conditions of the filing reminder service.

          {{ govukRadios({

  idPrefix: "filing-reminders",
  name: "filing-reminders",
  fieldset: {
    legend: {
      text: " ",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "existing-email",
      text: "Sarah-Philips@gmail.com"
    },
    {
      value: "different-email",
      text: "NA different email address"
    }
  ]
}) }}

          {{ govukButton({
          text: "Save and continue"
        }) }}

        </form>

      </div>
    </div>

  {% endblock %}