{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  Find and update company information on the Companies House register
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block footer %}<div class="govuk-width-container">
  <div class="gem-c-feedback govuk-!-display-none-print" data-module="feedback">

  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <ul class="gem-c-feedback__option-list">
        <li class="gem-c-feedback__option-list-item">
          <button class="govuk-button gem-c-feedback__prompt-link js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick">
            Yes <span class="govuk-visually-hidden">this page is useful</span>
          </button>
        </li>
        <li class="gem-c-feedback__option-list-item">
          <button class="govuk-button gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false">
            No <span class="govuk-visually-hidden">this page is not useful</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-questions--something-is-wrong js-prompt-questions">

      <a href="CHS-homepage-feedback" role="button" draggable="false" class="govuk-button gem-c-feedback__prompt-link js-toggle-form js-something-is-wrong" data-module="govuk-button">
Report a problem with this page
</a>


    </div>
  </div>

  </div>
  </div>

  {{ govukFooter({
meta: {
  items: [
    {
      href: "#1",
      text: "Policies"
    },
    {
      href: "#2",
      text: "Cookies"
    },
    {
      href: "#3",
      text: "Contact us"
    },
    {
      href: "#3",
      text: "Accessibility Statement"
    },
    {
      href: "#3",
      text: "Developers"
    }
  ]
}
}) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
