{% extends "layout.html" %}

{% block pageTitle %}
  Set up a limited company and register for Corportation Tax
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Set up a limited company and register for Corportation Tax - shortcuts
        <span class="govuk-caption-l">Version 1: April 2020</span>
      </h1>
      <h2 class="govuk-heading-m">Shortcuts</h2>
      <h3 class="govuk-heading-s">Company details</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/company-details/starting-a-new-application">
            (HMRC) Starting a new application?
          </a>
        </li>
        <li>
          <a href="/company-details/relationship-to-the-company">
            (HMRC) What is your relationship to the company?
          </a>
        </li>
        <li>
          <a href="/company-details/CIC">
            Will the company be a 'Community Interest Company'?
          </a>
        </li>
        <li>
          <a href="/company-details/limited-by">
            Will the company be 'limited by shares' or 'limited by guarentee'?
          </a>
        </li>
        <li>
          <a href="/company-details/company-name">
            Company name
          </a>
        </li>
        <ul>
          <li>
            <a href="/company-details/company-name-same-as">
              Someone else has already chosen this company name (original)
            </a>
          </li>
          <ul>
            <li>
              <a href="/company-details/company-name-same-as-v2">
                Someone else .. v2
              </a>
            </li>
            <li>
              <a href="/company-details/company-name-same-as-v3">
                Someone else .. v3
              </a>
            </li>
            <li>
              <a href="/company-details/company-name-same-as-v4">
                Someone else .. v4
              </a>
            </li>

          </ul>
        <li>
          <a href="/company-details/upload-evidence">
            Upload evidence
          </a>
        </li>
        <ul>
          <li>
            <a href="/company-details/upload-evidence-v2">
              Upload evidence (v2)
            </a>
          </li>
          <li>
            <a href="/company-details/upload-evidence-v3">
              Upload evidence (v3)
            </a>
          </li>
        </ul>
      </li>

    </ul>
    <li>
      <a href="/company-details/registered-office">
        What is the company's registered office address?
      </a>
    </li>
    <li>
      <a href="/company-details/where-registered">
        Where will the company be registered?
      </a>
    </li>
    <li>
      <a href="/company-details/principle-place-of-business">
        (HMRC) What is the companies priciple place of business
      </a>
    </li>
    <li>
      <a href="/company-details/contact">
        (HMRC) Give us one or more ways to contact *company name*?
      </a>
    </li>
    <li>
      <a href="/company-details/start-trading">
        (HMRC) When will the company start trading?
      </a>
    </li>
    <li>
      <a href="/company-details/3-months">
        (HMRC) In its first 3 months will the company do any of the following?
      </a>
    </li>
    <li>
      <a href="/company-details/what-will-the-company-be-doing">
        What will the company be doing?
      </a>
    </li>
    <li>
      <a href="/company-details/check-and-confirm-company-details">
        Check and confirm what your company will be doing?
      </a>
    </li>
  </ul>
  <h3 class="govuk-heading-s">Director pages</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="/director-details/secure">
        Has anyone on this application ever sent a secure register form to ask Companies House for protection?
      </a>
    </li>
    <li>
      <a href="/director-details/director-details">
        Director's details
      </a>
    </li>
    <li>
      <a href="/director-details/correspondence-address">
        What is the correspondence address for *name*
      </a>
    </li>
    <li>
      <a href="/director-details/home-address">
        What is the home address for *name*
      </a>
    </li>
    <li>
      <a href="/director-details/filing-reminders">
        Does *name* want to receive filing reminders by email?
      </a>
    </li>
    <ul>
      <li>
        <a href="">
          Which email address does *name* want to use to receive filing reminders?
        </a>
      </li>
    </ul>
    <li>
      <a href="">
        Check and confirm director details
      </a>
    </li>
  </ul>
  <h3 class="govuk-heading-s">Shareholer pages</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="">
        You're about to set up the company's shareholders
      </a>
    </li>
    <li>
      <a href="">
        Is *name* a shareholder?
      </a>
    </li>
    <li>
      <a href="">
        Would you like to add another shareholder?
      </a>
    </li>
    <li>
      <a href="">
        Check and confirm shareholder details
      </a>
    </li>
    <li>
      <a href="">
        Do you want to use the most common type of shares?
      </a>
    </li>
    <li>
      <a href="">
        How many shares does *name* own?
      </a>
    </li>
    <li>
      <a href="">
        Choose a value for each share
      </a>
    </li>
    <li>
      <a href="">
        Check and confirm shareholders and shares
      </a>
    </li>
  </ul>
  <h3 class="govuk-heading-s">PSC pages</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="">
        You're about to set up the 'Persons with Significant Control' over the company
      </a>
    </li>
    <li>
      <a href="">
        From the previous answers we know that *name* is a Person with Significant Control
      </a>
    </li>
    <li>
      <a href="">
        Does *name* have the right to appoint or remove the majority of company directors?
      </a>
    </li>
    <li>
      <a href="">
        Check and confirm details of the persons in control of *company name*
      </a>
    </li>
  </ul>
  <h3 class="govuk-heading-s">Confirmation pages</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="">
        Model articles of assosiation
      </a>
    </li>
    <li>
      <a href="">
        Do you agree to form the company?
      </a>
    </li>
    <li>
      <a href="">
        (HMRC) Check and confirm your answers (page 1 of 2)
      </a>
    </li>
    <li>
      <a href="">
        You're about to make a secure payment of £12
      </a>
    </li>
    <li>
      <a href="">
        (Barclaycard) Barclaycard SmartPay
      </a>
    </li>
    <li>
      <a href="">
        (HMRC) Application submitted
      </a>
    </li>
    <li>
      <a href="">
        Dashboard (HMRC)
      </a>
    </li>
  </ul>
  <h2 class="govuk-heading-m">User journey images</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="/public/images/registration-user-journey.png">User journey to register for Goverment Gateway (non CH pages)</a>
    </li>
    <li>
      <a href="/public/images/User-journey.png">User journey map</a>
    </li>
  </ul>
</div>
</div>

{% endblock %}