{% extends "layout.html" %}

{% block pageTitle %}
  Give us one or more ways to contact MA LIMITED
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Give us one or more ways to contact MA LIMITED</h1>
      <p>We will only do this is we have questions about the company's Corporation Tax.</p>
      <form class="form" action="company-name" method="get">

        <h1 class="govuk-heading-l">Give us one or more ways to contact MA LIMITED</h1>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}